body {
    margin: 0;
    background-color: #8e8e8e;
}

.nav-site {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;;
}

.nav-site a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.nav-site a:hover {
    background-color: #41cc48;
}

h1, p, ol, h3 {
    color: #fff;
    text-align: center;
}

th {
    text-align: center;
    background-color: #c32020;
    color: white;
    white-space: nowrap;
}


.container {
    text-align: center;
    margin: auto;
    width: 15%;
    /*     border: 3px solid green; */
    border-collapse: collapse;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

h1, p, ol, h3 {
    color: #fff;
    text-align: center;
}


ul li a {
    text-decoration: none;
    color: #1502ff;

}
